$ -------------------------------------------------------------------- $
$ WAVEWATCH III Initial conditions input file                          $
$--------------------------------------------------------------------- $
$ type of initial field ITYPE .
$
    {{itype}}
$
$ -------------------------------------------------------------------- $
$ End of input file                                                    $
$ -------------------------------------------------------------------- $
