$ boundary option: READ or WRITE
  WRITE 
$ Interpolation method. 1: nearest, 2: linear interpolation
  2
$ Type of spectra files: 'A' for ASCII and 'N' for NetCDF (this option 
$                                           is not yet implemented) 
  0
$ list of spectra files. 
{{#spcs}}{{spc}}
{{/spcs}}'STOPSTRING'
$ 
