$ -------------------------------------------------------------------- $
$ WAVEWATCH III shell input file                                       $
$ -------------------------------------------------------------------- $
   {{levFlag}}  F     Water levels
   {{curFlag}}  F     Currents
   {{windFlag}}  F     Winds
   F       Ice concentrations
   F       Assimilation data : Mean parameters
   F       Assimilation data : 1-D spectra
   F       Assimilation data : 2-D spectra.
$
   {{startDate}} 
   {{endDate}} 
$
   1
$
    {{startDate}}  {{timeInterval}}  {{endDate}} 
   N
   {{outvars}}
   20091111 000000     0  20091112 000000
   20091111 000000     0  20091112 000000
   {{startDate}}      {{restart}}  {{endDate}}
   20091111 000000     0  20091112 000000
   20091111 000000     0  20091112 000000
$
$
   'STP'
$ -------------------------------------------------------------------- $
$ End of input file                                                    $
$ -------------------------------------------------------------------- $
